<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<link rel="apple-touch-startup-image" href="{{ STATIC_URL }}jqtouch/startup.png" />
		<link rel="apple-touch-icon" href="{{ STATIC_URL }}jqtouch/icon.png" />
        <title>PyCon 2011</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}jqtouch/jqtouch.css" type="text/css">
		<link rel="stylesheet" href="{{ STATIC_URL }}jqtouch/themes/pycon/theme.css" type="text/css">
        <script type="text/javascript" src="{{ STATIC_URL }}jqtouch/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jqtouch/jqtouch.js"></script>
        <script type="text/javascript">
            var jqt = new $.jQTouch();

            $(document).ready(function() {
	            $.getJSON("{% url schedule_json %}", function(data) {
					$.each(data.days, function(i) {
						console.log(this.day);
						var day = $("#" + this.day);
						var schedule = $(day).find("ul.schedule-grid");
						$(schedule).find("li.loading").remove();
						$.each(this.items, function(i){
							var li = $('<li>').addClass("sep").text(this.date);
							schedule.append(li);
							$.each(this.slots, function(i){
								var title = $("<a>", { "href": "#" }).text(this.title);
								var speaker = $("<a>", { "href": "#"}).text(this.speaker);
								var li = $("<li>").append(title).append(speaker);
								schedule.append(li);
							});
						});
					});
				});
			});
        </script>
    </head>
    <body>
        <div id="jqt">
            <div id="home">
                <div class="toolbar">
                    <h1>PyCon 2011</h1>
                </div>
				<h2>Conference Days</h2>
				<ul class="rounded">
                    <li class="arrow">
						<a href="#friday">Friday, March 11</a>
					</li>
                    <li class="arrow">
						<a href="#saturday">Saturday, March 12</a>
					</li>
					<li class="arrow">
						<a href="#sunday">Sunday, March 13</a>
					</li>
                </ul>
            </div>
			
			<div id="friday">
                <div class="toolbar">
                    <h1 class="title">Friday</h1>
                    <a class="back" href="#">Back</a>
                </div>
				<ul class="edgetoedge schedule-grid">
					<li class="loading">Loading...</li>
                </ul>
            </div>
			
			<div id="saturday">
                <div class="toolbar">
                    <h1 class="title">Saturday</h1>
                    <a class="back" href="#">Back</a>
             	</div>
				<ul class="edgetoedge schedule-grid">
					<li class="loading">Loading...</li>
             	</ul>
            </div>

			<div id="sunday">
                <div class="toolbar">
                    <h1 class="title">Sunday</h1>
	                <a class="back" href="#">Back</a>
	            </div>
				<ul class="edgetoedge schedule-grid">
					<li class="loading">Loading...</li>
	            </ul>
			</div>

            <div id="conference-day-template">
                <div class="toolbar">
                    <h1 class="title">Conf Day</h1>
                    <a class="back" href="#">Back</a>
                </div>
				
                <ul class="edgetoedge">
					<li class="sep">8:00am</li>
					<li class="">
						<a href="#talk-description">Talk Title</a>
					</li>
                </ul>
            </div>
			<div id="talk-detail-template">
				<div class="toolbar">
					<h1>Talk One</h1>
					<a class="back" href="#">Back</a>
				</div>
				<div class="info">
					<p>
						One reason for Python's success is its restraint
						in adding new language features.
					</p>
					<p>More info about the talk here.</p>
				</div>
			</div>
        </div>
    </body>
</html>