{% extends "sponsors/base.html" %}

{% load boxes_tags %}

{% block body %}
    <h1>DjangoCon Europe 2011 Sponsorship</h1>
        <p>
        The City  of    Amsterdam has   formally  embraced  the   event and   views it    as    an    important way   to    put   Amsterdam   in    the   minds of    developer talents   as    a place to    live  and   work. 
        </p>  

        <p>
        Since   DjangoCon is    a community conference    we    are   looking   for   companies and   institutions  willing   to    support the   event through   our   sponsorship   program   (see: sponsorship   brochure) 
        </p>

        <h2>What’s  in    it    for   the   sponsors? </h2>
        <ul>
          <li>DjangoCon    attracts  several   hundreds  of    smart software  engineers from  across    the   globe,  both in    person    and   via   the   video conferencing  setup.    Support   the   conference    and   gain  a place    in    their hearts    and   minds.    </li>
           <li>The  City  of    Amsterdam will  ensure    that  the   event receives  proper    national/international    media    attention.</li>
        </ul>
                   
        <h2>Who can   I contact?  </h2>
        <p>
          For more  information   please    contact   the   Conference    Chair:    Remco Wendt,    +31618796706, chairman@djangocon.eu   
        </p>
{% endblock %}
